/*************************************************************************
    > File Name :  ../../css/bghome.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-08-17 15:15:35
 ************************************************************************/
li{
    list-style:none;
}
ul{
    padding:0;
    text-align:center;
}
a{
    text-decoration:none;
}
body, html , #frameCon{
    height:100%;
}
body{
    margin:0px auto;
    overflow:hidden;
    width:1200px;
    background:rgb(216,216,216);
}
#frameCon{
    margin:0;
    border:none;
    overflow:hidden;
    float:left;
    width:1075px;
}
iframe{
    height:100%;
    width:100%;
}
.side{
    width:115px;
    float:left;
    padding:5px;
}
.side li{
    color:white;
    background:#434343;
    border-radius:3px;
    padding:5px;
    margin:5px 0;
}
.side li:hover ,.side .liCse{
    background:rgb(99, 228, 39);
}
.top{
    border-bottom:1px solid #F0F0F0;
    background:#434343;
    height:80px;
}
select{
    width:100%;
    overflow:hidden;
}
