/*************************************************************************
    > File Name :  ../css/cart.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2013-09-17 21:25:42
 ************************************************************************/

.dcart{
    width:300px;
    background-color:#c9c9c9;
    position:fixed;
    right:0;
    bottom:0;
    padding-top:5px;
    border-radius:5px 0 0 0;
    margin:0;
}
.tohide{
    width:100%;
    max-height:400px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.clist {
    font-size:0.8em;
    border-spacing:0;
    width:100%;
}
.cinfo , .shop{
    background-color:#e5e5e5;
    margin:0 2px;
    border-radius:4px;
}
.clist img{
    width:50px;
    height:50px;
}
tr{
    background-color:white;
    margin-bottom:1px;
}
table , td{
    border:none;
}
td{
    border-bottom:1px solid #e5e5e5;
}
.clist p{
    margin:4px 0;
    white-space:nowrap;
    width:145px;
    overflow:hidden;
    text-overflow:ellipsis;
}
.tp{
    margin:5px 3px;
    padding-top:3px;
}
.cnt{
    float:right;
}
.price{
    color:#990002;
}
.con span{
    color:#990002;
    font-size:1.8em;
}
.con input{
    padding:7px 10px;
    float:right;
    background-color:#DB080B;
    border:none;
    color:wheat;
    border-radius:5px;
    margin:5px;
}
.con p{
    margin:0 ;
    font-size:0.8em;
}
.con div{
    float:left;
    margin-left:5px;
}
input[name = 'ordNum']{
    width:30px;
}
.addr{
    width:190px;
    float:left;
    margin-right:2px;
}
.buyer{
    float:left;
    width:90px;
}
.cinfo{
    font-size:0.8em;
    height:38px;
    overflow:hidden;
}
.cinfo p{
    line-height:1.5em;
    margin:0;
}
.buyer p{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
