/**
 * @name        ../../css/item2.css
 * @author      unasm < 1264310280@qq.com >
 * @since       2013-12-23 19:16:10
*/
.clearfix:after{
    visibility:hidden;
    display:block;
    content:"";
    height:0px;
    clear:both;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

ul{
    list-style:none;
    padding:0px;
    margin:0;
}
img{
    border:none;
}
body{
    padding:0;
}

/***********tab的开始 搜索的结束**********/


.path a{
    background:#990002;
    color:white;
}
/*
.tab:after{
    width:50%;
    background-color:#990002;
    height:35px;
    content: ' ';
    position:absolute;
    right:0;
}
*/

.path{
    width:960px;
    height:21px;
    padding:7px 0;
    margin:0px auto;
    position:relative;
    background-color:#990002;
}
.path:after{
    position:absolute;
    top:0px;
    border-bottom:35px solid transparent;
    display:block;
    content:' ';
    z-index:1;
    border-right:60px solid #990002;
    left:-60px;
}
.path:before{
    position:absolute;
    top:0px;
    border-bottom:35px solid transparent;
    display:block;
    content:' ';
    z-index:-1;
    border-left:60px solid #990002;
    right:-60px;
}
.path div{
    width:580px;
    margin:0px auto;
}
/***********这里开始首部的信息*************/
/****首部的阴影和线条  ****/
#top{
    width:960px;
    margin:0px auto;
    position:relative;
}
#top:before , #top:after,#top > div:before{
    top:-35px;
    content:' ';
    display:block;
    position:absolute;
    border-bottom:460px solid transparent;
}
#top:before{
    border-right:60px solid #dddddd;
    left:-60px;
}
/***********首部的阴影和线条*****/
.showImg{
    width:460px;
    float:left;
}
.mainImg{
    width:100%;
    height:460px;
    overflow:hidden;
    margin-bottom:10px;
}
.mainImg img{
    max-width:100%;
    max-height:100%;
}
.thumb img{
    width:58px;
    height:58px;
    padding:2px;
}
.thumb img:hover{
    border:2px solid green;
    padding:0;
    border-radius:4px;
}
.suply{
    font-size:0.8em;
    color:gray;
    text-indent:2em;
    margin:1.5em 0;
}
.details{
    margin:0px;
    overflow:hidden;
    padding:0 10px;
    width:479px;
    float:left;
}
.details li{
    line-height:2em;
}
.details>ul{
    min-height:250px;
    margin-left:15px;
}
.item{
    width:48px;
    display:inline-block;
    text-align:right;
    margin-right:10px;
}
h2{
    text-align:center;
    margin:1em 0 0.2em;
}
.ps{
    margin-right:30px;
}
.ps strong{
    font-size:2em;
    color:rgb(199, 4, 4);
}
#addr,.cnt{
    font-size:smaller;
}
.cnt{
    margin-left:5px;
    color:rgb(39, 133, 207);
}
.attr li{
    float:left;
    margin:0 3px;
}
.attr span{
    padding:2px 5px;
}
.attr img{
    height:50px;
    width:50px;
    border-radius:2px;
    margin:5px;
}
.attr img:hover{
    border-radius:2px;
    padding:0;
    border:2px solid rgb(15, 179, 67);
    cursor:pointer;
}
/*  选择属性值后的显示*/
.attrChose , .attr span:hover{
    border-radius:2px;
    /*
    padding:2px 3px;
    */
    border:2px solid rgb(15, 179, 67);
    cursor:pointer;
}
#tobuy, .storelogo{
    text-align:center;
}
.storelogo .button{
    padding:4px 5px;
    background:red;
    border-radius:2px;
    color:rgb(238,238,238);
    min-width:100px;
    display:inline-block;
}
#logo{
    margin-bottom:-45px;
}
form button{
    margin:5px;
    width:30%;
    border:none;
    padding:9px 0;
    border-radius:2px;
}
button[name = 'instant']{
    background-color:#fe0000;
    color:white;
}
button[name = 'toCart']{
    background-color:#f46a39;
}
#detail{
    clear:both;
    margin:0px auto;
    width:80%;
    padding-top:10px;
}
#detail h3{
    text-align:center;
    color:rgb(245, 0,0);
    border-bottom:2px solid rgb(0, 0, 0);
    margin-bottom:1px;
    padding:5px 0;
}
#detail h3:hover{
    background:rgba(245, 33, 33,0.3);
}
.store{
    width:200px;
    float:left;
}
.store .list{
    font-size:0.8em;
    color:gray;
}
.comment {
    border-radius:2px;
    background:rgb(228, 228, 228);
    padding:5px 0;
    color:rgb(155, 155, 155);
}
.comment div{
    float:left;
    text-align:center;
}
.score{
    width:70px;
    color:rgb(233, 145, 13);
}
.speed{
    width:128px;
    font-size:0.8em;
    border-left:1px solid rgb(206, 206, 206);
}
.speed em{
    color:#000;
}
.comment em{
    font-size:1.6em;
}
.comment h5{
    font-weight:normal;
    margin:0.2em 0;
}
/********评价得分***************/
#item{
    float:left;
    margin-left:15px;
    width:745px;
}
.ittab h3{
    border-right:1px  dotted blue;
}
.ittab li{
    float:left;
    width:50%;
}

/* 评论的css */
.ucom .cuser{
    float:left;
    color:gray;
    width:108px;
    text-align:center;
    font-size:0.8em;
}

.ucom p{
    margin:3px 0;
}
.comt>p{
    position:relative;
}
.comt strong{
    font-size:1.5em;
}
.comt>p span:first-child{
    right:5px;
    bottom:0;
    position:absolute;
}
.comt p span{
    margin:0 5px;
}
.cuser img{
    width:50px;
    max-height:100px;
    border-radius:2px;
}
.ucom li{
    margin:10px 0;
    border-bottom:1px solid #DDD;
}
.comt{
    float:left;
    width:635px;
    border-radius:2px;
    min-height:100px;
}
.comt ul{
    padding-left:6em;
    font-size:0.8em;
}
.reply{
    border-radius:2px;
    background:#DDD;
    padding:10px 6px 2px;
}
.reply blockquote{
    margin:3px;
    text-indent:2em;
}
