/**
 * @name        ../../css/item2.css
 * @author      unasm < 1264310280@qq.com >
 * @since       2013-12-23 19:16:10
*/
.clearfix:after{
    visibility:hidden;
    display:block;
    content:"";
    height:0px;
    clear:both;
}
a{
    text-decoration:none;
}
p{
    line-height:1.2em;
}
a:hover{
    text-decoration:underline;
}
ul{
    list-style:none;
    padding:0px;
    margin:0;
}
img{
    border:none;
}
body{
    /*
    width:1200px;
    */
    margin:0px auto;
    padding:0;
}
#header{
    background:#cc0001;
}
#header > div{
    margin:0 auto;
    width:1200px;
    width:1200px;
}
.logo{
    height:120px;
    overflow:hidden;
    width:200px;
    text-align:center;
    float:left;
}
.logo h1{
    font-size:2.5em;
}
.logo h1 span{
    background-color:white;
    color:#cc0001;
    padding:2px;
}
/** 这里是搜索的开始  */
.search{
    float:left;
    margin:68px 0 0 387px;
    width:500px;
}
.search div{
    height:27px;
    float:left;
    width:425px;
}
input[name = 'key']{
    box-shadow:1px 1px 4px rgb(182, 182, 182) inset;
    width:100%;
    padding:2px 6px;
    height:100%;
    border-radius:4px 0px 0px 4px;
    border-right:0;
    outline:none;
}
input[name = 'key']:focus{
    box-shadow:1px 1px 6px rgb(150,150,150) inset;
}
input[name = 'sub']{
    height:35px;
    margin-left:-6px;
    border:none;
    border-radius:0 3px 3px 0;
    width:80px;
    outline:none;
}
input[name = 'sub']:active{
    background:rgb(120,120,120);
}
/***********tab的开始 搜索的结束**********/
.tab ul{
    margin-left:200px;
    width:50%;
}

.tab,.path a{
    background:#990002;
    color:white;
}
.tab:after{
    width:50%;
    background-color:#990002;
    height:35px;
    content: ' ';
    position:absolute;
    right:0;
}
.tab li{
    float:left;
    width:24%;
    text-align:center;
    padding:4px 0;
    height:100%;
}

.tab li:hover{
    background:rgb(125,3,3);
}
.path{
    width:960px;
    height:21px;
    padding:7px 0;
    margin:0px auto;
    position:relative;
    background-color:#990002;
}
.path:after{
    position:absolute;
    top:0px;
    border-bottom:35px solid transparent;
    display:block;
    content:' ';
    z-index:1;
    border-right:60px solid #990002;
    left:-60px;
}
/*
.path:before{
    background-color:gray;
    border-bottom:35px solid transparent;
    display:block;
    content:' ';
    z-index:1;
    border-right:50% solid #990002;
}
*/
.path div{
    width:580px;
    margin:0px auto;
}
/***********这里开始首部的信息*************/
/****首部的阴影和线条  ****/
#top{
    width:960px;
    margin:0px auto;
    position:relative;
}
#top:before , #top:after,#top > div:before{
    top:-35px;
    content:' ';
    display:block;
    position:absolute;
    border-bottom:460px solid transparent;
}
#top:before{
    border-right:60px solid #dddddd;
    left:-60px;
}
/***********首部的阴影和线条*****/
.showImg{
    width:460px;
    float:left;
}
.mainImg{
    width:100%;
    height:460px;
    overflow:hidden;
    margin-bottom:10px;
}
.mainImg img{
    max-width:100%;
    max-height:100%;
}
.thumb img{
    width:62px;
    height:62px;
}
.suply{
    font-size:0.8em;
    color:gray;
    text-indent:2em;
    margin:0.2em 0;
}
.details{
    margin:0px;
    overflow:hidden;
    padding:0 10px;
    width:479px;
    float:left;
}
.details li{
    line-height:2em;
}
.details>ul{
    min-height:250px;
}
.item{
    width:48px;
    display:inline-block;
    text-align:right;
    margin-right:10px;
}
h2{
    text-align:center;
    margin:0.5em 0 0.2em;
}
.ps{
    margin-right:30px;
}
.ps strong{
    font-size:2em;
    color:rgb(199, 4, 4);
}
#addr,.cnt{
    font-size:smaller;
}
.cnt{
    margin-left:5px;
    color:rgb(39, 133, 207);
}
.attr li{
    float:left;
    margin:0 3px;
}
.attr span{
    padding:2px 5px;
}
.attr span:hover{
    border-radius:2px;
    padding:0px 3px;
    border:2px solid rgb(15, 179, 67);
    pointer:pointer;
}
#tobuy, .storelogo{
    text-align:center;
}
#tobuy button{
    margin:5px;
    width:30%;
    border:none;
    padding:9px 0;
    border-radius:2px;
}
button[name = 'instant']{
    background-color:#fe0000;
    color:white;
}
button[name = 'toCart']{
    background-color:#f46a39;
}
#detail{
    clear:both;
    margin:0px auto;
    width:80%;
    padding-top:10px;
}
#detail h3{
    text-align:center;
    color:rgb(245, 0,0);
    border-bottom:2px solid rgb(0, 0, 0);
    margin-bottom:1px;
}
#detail h3:hover{
    background:rgba(245, 33, 33,0.3);
}
.store{
    width:200px;
    float:left;
}
.store .list{
    font-size:0.8em;
    color:gray;
}
.storelogo img{
    margin-bottom:-30px;
}
.storelogo .button{
    padding:4px 10px;
    background:red;
    border-radius:2px;
    color:rgb(238,238,238);
}
.comment {
    border-radius:2px;
    background:rgb(228, 228, 228);
    padding:5px 0;
    color:rgb(155, 155, 155);
}
.comment div{
    float:left;
    text-align:center;
}
.score{
    width:70px;
    color:rgb(233, 145, 13);
}
.speed{
    width:128px;
    font-size:0.8em;
    border-left:1px solid rgb(206, 206, 206);
}
.speed em{
    color:#000;
}
.comment em{
    font-size:1.6em;
}
.comment h5{
    font-weight:normal;
    margin:0.2em 0;
}
/********评价得分***************/
#item{
    float:left;
    margin-left:15px;
    width:745px;
}
.ittab h3{
    border-right:1px  dotted blue;
}
.ittab li{
    float:left;
    width:50%;
}

