/**
 * @name        ../../css/shoplist.css
 * @author      unasm < 1264310280@qq.com >
 * @since       2014-02-22 01:03:32
*/
.width{
    width:1200px;
    margin:0px auto;
    overflow:hidden;
    background-color:#e7e7e7;
}
li{
    list-style:none;
}
ul{
    padding:0;
    margin:0;
}
.clearfix:after{
    visibility:hidden;
    display:block;
    content:"";
    height:0px;
    clear:both;
}
.good{
    padding:0 25px;
}
.good li{
    width:480px;
    height:175px;
    float:left;
    overflow:hidden;
    padding:3px;
    border-radius:3px;
    margin:5px;
}
.good li:hover{
    background-color:#B5B5B5;
}
.good .img {
    width:175px;
    height:175px;
    overflow:hidden;
    float:left;
}
.deinfo{
    float:left;
    width:291px;
    margin:0 7px;
}
.deinfo h4{
    margin:10px 0;
}
.deinfo p{
    margin:3px 0;
}
.deinfo blockquote{
    margin:10px 0;
    text-indent:2em;
    font-size:0.8em;
    color:#B5B5B5;
}
