/*************************************************************************
    > File Name :  ../../../css/timeorder.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2014-01-19 16:26:43
 ************************************************************************/
h3 span , .init span{
    width:204px;
    display:inline-block;
    text-align:center;
    position:relative;
}
a{
    text-decoration:none;
}
body{
    background:rgb(252, 248, 248);
}
ul,body{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
.init {
    background:#c9c9c9;
    padding:5px 0;
}
.up:before , .down:before{
    content:' ';
    position:absolute;
    border-radius:5px;
}
.init .state:before{
    border:3px solid rgb(216, 0, 0);
    content:' ';
    border-radius:10px;
    height:5px;
    width:5px;
    display:inline-block;
    position:absolute;
    left:50px;
    display:none;
}
font{
    cursor:pointer;
}
.clearfix:after{
    visibility:hidden;
    display:block;
    content:"";
    height:0px;
    clear:both;
}
.up:before{
    border-bottom:20px solid rgb(100,100,100);
    border-right:10px solid transparent;
    border-left:10px solid transparent;
}
.down:before{
    border-top:20px solid rgb(100,100,100);
    border-right:10px solid transparent;
    border-left:10px solid transparent;
}
.note{
    font-size:0.8em;
    color:rgb(83, 81, 81);
}
.buyer{
    border:1px solid #e9e9e9;
    border-top:none;
    border-radius:2px;
    padding:0 5px;
}
.item{
    display:inline-block;
    width:70px;
    text-align:right;
    padding:0 5px;
}
.info{
    float:left;
}
.info strong{
    min-width:250px;
    display:inline-block;
}
.info ul{
    margin-bottom:10px;
}
.oper{
    float:right;
    width:100px;
}
.oper a{
    color:black;
    width:100%;
    display:inline-block;
    text-align:center;
    margin:5px 0;
    background:#c9c9c9;
    padding:4px 0;
    border-radius:3px;
}
.list li{
    margin:5px 0;
}
textarea{
    border:1px solid gray;
    border-radius:2px;
    width:900px;
    resize:none;
}
form input{
    width:100px;
    padding:5px 0;
}
