/*************************************************************************
    > File Name :  ../../../css/timeorder.css
    > Author  :      unasm
    > Mail :         douunasm@gmail.com
    > Last_Modified: 2014-01-19 16:26:43
 ************************************************************************/
h3 span , .init span{
    width:210px;
    display:inline-block;
    text-align:center;
}
ul,body{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}
.init {
    background:#c9c9c9;
    padding:5px 0;
}
