input[type = 'file']{
	width:245px;
}
#classfication{
    font-size:1.1em;
}
textarea{
    resize:none;
    height:80px;
    outline-color:#838383;
	border:1px solid #DDD;
    border-radius:3px;
    margin:5px 0;
    width:200px;
}
#keys span{
    background:#ddd;
    padding:5px;
    border-radius:2px;
    margin:0 1px;
}
tr{
    margin:3px 0;
}
form{
    /*
    width:500px;
    */
    border-radius:2px;
    margin:0 auto;
}
input[type = 'submit']{
    /*
    margin-left:23%;
    */
    margin-top:5px;
}
